@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}


body{
    background-color:#1A0B2E;
    color: #FFFFFF;
}


/* navbar design */

nav {
  /* padding: 5px; */
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  /* border: 1px solid red; */
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    opacity: 0.9;

    
}
.menu a{
color: #FFFFFF;
text-decoration: none;
font-weight: 500px;
font-size: 16px;
line-height: 120%;

}

span{
background-image: linear-gradient(1deg, #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.btn{
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    color: #FFFFFF;
    font-size:16px ;
    font-weight: 600;
    border: 0;
    background: linear-gradient(-47.64deg, #9100F8,#FB09B4,#F7E93F);
}
.hamburger{
    margin-right: 20px;
    display: none;
}


/* banner-design */


#banner{
    /* border: 1px solid greenyellow; */
    background-image:url(./assets/hero-bg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

#banner-content{
   text-align: center;


}

.hero-circle img{
  display: block;
  margin:auto;
  margin-top: 100px; 
  position: relative;

}
@keyframes pulse{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.1);
        opacity: 0.7;
    }
    100%{
          transform: scale(1);
        opacity: 1;
    }
}
.microphone img{
position: absolute;
bottom: 32%;
left: 46%;
 animation: pulse 2s infinite;
/* width: 120px;
height: 120px; */
}

.new{
    
padding: 8px 16px 8px 16px;
background-color: #00FF88;
border-radius: 1000px;
border: 0;
font-size: 18px;
font-weight: 600px;
position: absolute;
bottom: 65%;
left: 56%;
}

.text-2{
    font-size: 60px;
    font-weight: bolder;
    margin-top: 40px;
    font-size: 60px;
    font-weight: 800px;
    line-height: 73px;
}
.text-3{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400px;
    line-height: 19px;
    margin-top: 8px;
    margin-bottom: 24px;
    opacity: 0.8;
opacity: 0.8;

}

.btn-1{
   color:#00FF88 ; 
   background-color: transparent;
   padding: 12px 20px 12px 20px;
   margin-left: 8px;
   border-radius: 10000px;
   border: 1px solid #00FF88;
   width: auto 147px;
   height: 44px;
   display: flex;
   align-items: center;
   gap: 8px;
    /* margin: auto; */
/* border: 2px solid red; */
}
.btn-0{
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    color: #FFFFFF;
    font-size:16px ;
    font-weight: 600;
    border: 0;
    background: linear-gradient(-47.64deg, #9100F8,#FB09B4,#F7E93F);
    display: flex;
    gap: 8px;
    /* border: 2px solid red; */
    /* margin: auto;  */
}
.btn-grp{
    display: flex;
    position: absolute;
    left:38%;
   /* margin-left:500px; */
}







/* about-design */


.about{
    text-align: center;
    margin-top: 150px;
}
.section-heading h1{
font-size: 48px;
font-weight: 700px;
line-height: 58px;

}
.section-heading p{
margin-top: 16px;
font-size: 16px;
font-weight: 400;
line-height: 25px;
opacity: 0.8;
}


.divider{
    border: 1px solid #9100f825;
    margin: 80px 200px;
}

.text-4{
     display: grid;
    grid-template-columns: repeat(4,1fr);
}
.text-4 h1{
color: #00FF88;
font-size: 48px;
font-weight: 900;
line-height: 58px;
text-align: center;
text-transform: capitalize;
}
.text-4 p{
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
text-transform: uppercase;
margin-top: 16px;
margin-bottom: 120px;
opacity: 0.8;

}


/* choose section */

#choose{
    /* border: 1px solid red; */
    background-color: #35116566;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.choose-heading h1{
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}

.grid-container{
     max-width: 1200px; 
    margin: 120px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    /* border: 2px solid red; */
}
.grid-container img{
      margin-bottom: 16px;
}
.grid-container h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    padding-bottom: 16px;
}
.grid-container p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;

}
.box-1{
    grid-row: 1/3;
    border-radius: 40px;
    background-color: #351165;
    width: 380px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 40px;
}

.box-2{
grid-column: 2/4;
background-color: #351165;
width: 790px;
height: 225px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;


}
.box-3{
grid-column: 2/4;
background-color: #351165;
width: 790px;
height: 225px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;

}
.box-4{
grid-column: 1/3;
background-color: #351165;
width: 790px;
height: 273px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;
}

.box-5{
background-color: #351165;    
width: 380px;
height: 273px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;

}



/* Featured Episodes */

#Episodes{
max-width: 1600px;
margin: 120 auto;
}

.Episodes-container{
    margin: 0 auto;
}

.Episodes-heading h4{
text-align: center;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-top: 120px;
}

.card{

display: grid;
grid-template-columns: repeat(3,1fr);
justify-content: space-between;
gap: 30px;
border-radius: 24px;
margin-top: 40px;
/* border: 1px solid red;  */
 margin: 40px 120px;


}
iframe{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 100%;
    height: 43%;
}

.card-1,.card-2,.card-3{
    /* border: 1px solid greenyellow; */
    background-color: #250D44;
    border-radius: 24px;
     /* max-width: 380px;  */
    height: 400px;
    width: 100%;

}
.card-text{
font-size: 24px;
font-weight: 700;
line-height: 29px;
padding: 24px;
}
.text-5{
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-left: 24px;
opacity: 0.6;

}

.clock{
    display: flex;
    color: #00FF88;
    gap: 6px;
    padding-left: 24px;
    padding-top: 12px;
}


/* meet */

#meet{
    max-width: 1600px;
    margin: 120px;
}
.meet-container{
    margin: 0 auto;
}
.meet-heading{
text-align: center;
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: center;
text-transform: capitalize;
}

.info{
    display: flex;
    /* border: 1px solid red; */
    background-color: #250D44;
    border-radius: 40px;
    margin-top: 40px;
    position: relative; 
}
.alex img{
 padding: 24px;
}
.text-6 h5{
font-size: 32px;
font-weight: 700;
line-height: 39px;
margin-top: 48px;
}
.text-6 p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom: 16px;
opacity: 0.6; 

}
.text-6 img{
/* border: 1px solid red; */
margin-right: 8px;
/* position: absolute; */
/* top: 10%; */
}

.img-5{
    position: absolute;
    top:74%;
    left: 16.3rem;
}
.img-6{
    position: absolute;
    top:74.5%;
    left: 19.5rem;
}
.img-7{
    position: absolute;
    top:74%;
    left: 22.8rem;
}
.img-8{
    position: absolute;
    top:74%;
    left: 25.9rem;
}



/* footer */
footer{
    background-image:url(./assets/footer-bg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    height:420px;
}
.footer-heading{
    text-align: center;
    font-size: xx-large;
    padding-top: 120px; 
}
#link{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 40px;

}
    

.social{
   display: flex;
   gap: 8px;
   margin-bottom: 34px;
   padding-bottom: 34px;
}
.social p{
   font-size: 16px;
   font-weight: 500;
   line-height: 19px;
   opacity: 0.6;

}
.footer-container p{
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
   










/* responsive code */
@media screen and (max-width: 576px) {
.menu a, .btn{
        display: none;
}

.nav{
    width: 100%;
    margin-top: 5px;
}    
.hamburger{
    margin-right: 20px;
    display: inline;
}
.text-1{
    margin-left: 20px;
}

/* banner -respon*/


#banner{
    
 
}

.hero-circle img{
    width: 100%;
    max-width: 200px;
    display: block;
    margin:auto;
    margin-top: 100px; 
    position: relative;
}
.microphone img{
bottom: 45%;
left: 46%;
max-width:80px ;
max-height: 80px;
}

.text-3{
max-width: 400px;
text-align: center;
/* background-color: #FB09B4; */
margin: auto;
padding-bottom: 24px;
}
.btn{
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    color: #FFFFFF;
    font-size:16px ;
    font-weight: 600;
    border: 0;
    background: linear-gradient(-47.64deg, #9100F8,#FB09B4,#F7E93F);
    border: 1px solid red;
}
.btn-grp{
    left:20%;
   
}







/* about-respon */

.about{
    text-align: center;
    margin-top: 80px;
}

.section-heading h1{
font-size: 32px;
line-height: 39px;

}
.section-heading p{
padding: 0 20px;
margin-bottom: 40px;
}


.divider{
 width: 100%;
 margin:auto;
}

.text-4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.text-4 h1{
line-height: 48px;
margin-top: 40px;

}


/* choose respon */

#choose{
    /* border: 1px solid red; */
    background-color: #35116566;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.choose-heading h1{
font-size: 32px;
font-weight: 700;
line-height: 39px;
padding-bottom: 16px;
}

.grid-container{
     max-width: 1200px; 
    margin: 120px auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 16px;
    margin: 0 20px;
    /* border: 2px solid red; */
}
.grid-container img{
      margin-bottom: 16px;
}
.grid-container h4{
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;

}

.box-1{
    grid-row:auto;
    border-radius: 24px;
    width: 100%; 
    height: auto;
}

.box-2{
grid-column: auto;
width: 100%;
height: auto;


}
.box-3{
grid-column: auto;
width: 100%;
height: 100%;
border-radius: 24px;

}

.box-4{
grid-column: auto;
background-color: #351165;
width: 100%;
height: 100%;
border-radius: 24px;
}

.box-5{
background-color: #351165;    
width: 100%;
height: 100%;
border-radius: 24px;

}




/* Featured Episodes respon */

#Episodes{
max-width: 1600px;
margin: 40px auto;
}

.Episodes-container{
    margin: 0 auto;
}

.Episodes-heading h4{
text-align: center;
font-size: 32px;
font-weight: 700;
line-height: 39px;
margin-top: 40px;
}

.card{

display: grid;
grid-template-columns: repeat(1,1fr);
gap: 20px;
border-radius: 24px;
margin-top: 40px;
width:auto;

}




/* meet */

#meet{
    max-width: 1600px;
    margin: auto;
    margin-bottom: 40px;
}
.meet-container{
    margin: 0 auto;
}
.meet-heading{
font-size: 32px;
font-weight: 700;
line-height: 39px;

}

.info{
    /* display: flex; */
    /* border: 1px solid red; */
    flex-direction: column;
    border-radius: 24px;
    margin-top: 40px;
    position: relative; 
    align-items: center;
}
.alex img{
 /* padding: 24px; */
/* border: 1px solid red; */
display: flex;
justify-content: center;
align-items: center;
}
.text-6{
    display:flex;
flex-direction: column;
justify-content: center;
}
.icon{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.text-6 h5{
font-size: 24px;
font-weight: 700;
line-height: 39px;
text-align: center;
}
.text-6 p{
text-align: center;    
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom: 16px;
padding: 0 24px;

}
.text-6 img{
/* border: 1px solid red;  */
margin-right: 8px;
/* position: absolute; */
/* top: 10%; */
align-items: center;
justify-content: center;
}

.img-5{
    position: absolute;
    top:90.5%;
    left: 12.9rem;
}
.img-6{
    position: absolute;
    top:90.5%;
    left: 15.8rem;
}
.img-7{
    position: absolute;
    top:90.5%;
    left: 18.7rem;
}
.img-8{
    position: absolute;
    top:90.1%;
    left: 21.6rem;
}




/* footer */
footer{
    background-image:url(./assets/footer-bg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    height:420px;
}
.footer-heading{
    text-align: center;
    font-size: xx-large;
    padding-top: 120px; 
    margin-bottom: 15px;
}
#link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    gap: 19px;

}
    

.social{
    
    flex: 0 0 calc(35% - 20px);
   display: flex;
   margin-bottom: 24px;
   padding-bottom: 4px;
 
}
.social p{
   font-size: 16px;
   font-weight: 500;
   line-height: 19px;
   opacity: 0.6;

}
.footer-container p{
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
   


}






