@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


body{
    background-color:#1A0B2E;
    color: #FFFFFF;
}


/* navbar design */

nav {
  /* padding: 5px; */
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  /* border: 1px solid red; */
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    
}
.menu a{
color: #FFFFFF;
text-decoration: none;
font-weight: 500px;
font-size: 16px;
line-height: 120%;

}

span{
background-image: linear-gradient(1deg, #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.btn{
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    color: #FFFFFF;
    font-size:16px ;
    font-weight: 600;
    border: 0;
    background: linear-gradient(-47.64deg, #9100F8,#FB09B4,#F7E93F);
}
.hamburger{
    margin-right: 20px;
    display: none;
}


/* banner-design */


#banner{
    /* border: 1px solid greenyellow; */
    background-image:url(./assets/hero-bg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

#banner-content{
   text-align: center;


}

.hero-circle img{
  display: block;
  margin:auto;
  margin-top: 100px; 
  position: relative;

}

.microphone{
position: absolute;
bottom: 32%;
left: 46%;
}

.new{
    
padding: 8px 16px 8px 16px;
background-color: #00FF88;
border-radius: 1000px;
border: 0;
font-size: 18px;
font-weight: 600px;
position: absolute;
bottom: 65%;
left: 56%;
}

.text-2{
    font-size: 60px;
    font-weight: bolder;
    margin-top: 40px;
    font-size: 60px;
    font-weight: 800px;
    line-height: 73px;
}
.text-3{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400px;
    line-height: 19px;
    margin-top: 8px;
    margin-bottom: 24px;

}

.btn-1{
   color:#00FF88 ; 
   background-color: transparent;
   padding: 12px 20px 12px 20px;
   margin-left: 8px;
   border-radius: 10000px;
   border: 1px solid #00FF88;
   width: auto 147px;
   height: 44px;

}


/* about-design */


.about{
    text-align: center;
    margin-top: 150px;
}
.section-heading h1{
font-size: 48px;
font-weight: 700px;
line-height: 58px;

}
.section-heading p{
margin-top: 16px;
font-size: 16px;
font-weight: 400;
line-height: 25px;
color: var(--#FFFFFF, rgba(255, 255, 255, 1));

}
.divider{
    border: 1px solid #9100f825;
    margin: 80px 200px;
}

.text-4{
    display: flex;
    justify-content: space-evenly;
}
.text-4 h1{
color: #00FF88;
font-size: 48px;
font-weight: 900;
line-height: 58px;
text-align: center;
text-transform: capitalize;
}
.text-4 p{
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
text-transform: uppercase;
margin-top: 16px;
margin-bottom: 120px;
}


/* choose section */

#choose{
    /* border: 1px solid red; */
    background-color: #35116566;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.choose-heading h1{
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}

.grid-container{
     max-width: 1200px; 
    margin: 120px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    /* border: 2px solid red; */
}
.grid-container img{
      margin-bottom: 16px;
}
.grid-container h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    padding-bottom: 16px;
}
.grid-container p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.box-1{
    grid-row: 1/3;
    border-radius: 40px;
    background-color: #351165;
    width: 380px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 40px;
}

.box-2{
grid-column: 2/4;
background-color: #351165;
width: 790px;
height: 225px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;


}
.box-3{
grid-column: 2/4;
background-color: #351165;
width: 790px;
height: 225px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;

}
.box-4{
grid-column: 1/3;
background-color: #351165;
width: 790px;
height: 273px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;
}

.box-5{
background-color: #351165;    
width: 380px;
height: 273px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;

}



/* Featured Episodes */

#Episodes{
max-width: 1600px;
margin: 120px;
}

.Episodes-container{
    margin: 0 auto;
}

.Episodes-heading h4{
text-align: center;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}

.card{

display: flex;
gap: 30px;
border-radius: 24px;
height: 440px;
margin-top: 40px;
/* border: 1px solid red; */
width: 100%;

}
.card-1,.card-2,.card-3{
    /* border: 1px solid greenyellow; */
    background-color: #250D44;
    border-radius: 24px;

}
.card-text{
font-size: 24px;
font-weight: 700;
line-height: 29px;
padding: 24px;
}
.text-5{
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-left: 24px;
}

.clock{
    display: flex;
    color: #00FF88;
    gap: 6px;
    padding-left: 24px;
    padding-top: 12px;
}









/* responsive code */
@media screen and (max-width: 576px) {
.menu a, .btn{
        display: none;
}

.nav{
    width: 100%;
    margin-top: 5px;
}    
.hamburger{
    margin-right: 20px;
    display: inline;
}
.text-1{
    margin-left: 20px;
}
#banner{
    width: 100%;
    max-width: 576px;
}

.hero-circle img{
    width: 100%;
    max-width: 200px;
    display: block;
    margin:auto;
    margin-top: 100px; 
    position: relative;
}
}